
@font-face {
    font-family: 'futuramediumcregular';
    src: url('../fonts/futuramediumc.woff2') format('woff2'),
         url('../fonts/futuramediumc.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}